<!DOCTYPE html>
<html>
<head>
    <title>Login Mahasiswa</title>
</head>
<body>
    <h2>Login Mahasiswa</h2>

    {% if messages %}
        {% for msg in messages %}
            <p style="color:red">{{ msg }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label>Username:</label><br>
        <input type="text" name="username"><br><br>

        <label>Password:</label><br>
        <input type="password" name="password"><br><br>

        <button type="submit">Login</button>
    </form>

    <a href="/">← Kembali ke Home</a>
</body>
</html>
